<!--
  Generated template for the EventoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{this.oper}} evento</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="outer-content">
    
  <ion-list>
    <ion-item>
      <ion-label color="primary" fixed>T&iacute;tulo</ion-label>
      <ion-input [(ngModel)]="evento.titulo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" fixed>Ubicaci&oacute;n</ion-label>
      <ion-input [(ngModel)]="evento.ubicacion"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label color="primary">Todo el d&iacute;a</ion-label>
      <!--<ion-checkbox [(ngModel)]="evento.dia_completo" color="dark"></ion-checkbox>-->
      <ion-select [(ngModel)]="evento.dia_completo">
          <ion-option value=true>Si</ion-option>
          <ion-option value=false>No</ion-option>
        </ion-select>      
    </ion-item>
    <ion-item>
      <ion-label color="primary">Fecha Inicio</ion-label>
      <ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="evento.fecha_inicio"></ion-datetime>
    </ion-item>

    <ion-item *ngIf="!evento.dia_completo">
      <ion-label color="primary">Hora Inicio</ion-label>
      <ion-datetime displayFormat="HH:mm" minuteValues="0,15,30,45" pickerFormat="HH:mm" [(ngModel)]="evento.hora_inicio"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Fecha Fin</ion-label>
      <ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="evento.fecha_fin"></ion-datetime>
    </ion-item>

    <ion-item *ngIf="!evento.dia_completo">
      <ion-label color="primary">Hora Fin</ion-label>
      <ion-datetime displayFormat="HH:mm" minuteValues="0,15,30,45" pickerFormat="HH:mm" [(ngModel)]="evento.hora_fin"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Descripci&oacute;n</ion-label>
      <ion-textarea [(ngModel)]="evento.descripcion"></ion-textarea>
    </ion-item>

    <div class="div_btn_action">
      <button ion-button (click)="guardar()" full round>Guardar</button>
  </div>
  </ion-list>



</ion-content>