<!--
  Generated template for the EventoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons right>
      <button ion-button color="primary" (click)="guardar()" large>Guardar</button>
    </ion-buttons>    
  </ion-navbar>

</ion-header>


<ion-content class="outer-content">
    
  <ion-list>
    <ion-item>
      <ion-label  fixed>T&iacute;tulo</ion-label>
      <ion-input [(ngModel)]="evento.titulo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label >Tipo</ion-label>
      <ion-select [(ngModel)]="evento.tipo">
          <ion-option *ngFor="let t of eventTypes" value="{{t.type}}">{{t.description}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label  fixed>Ubicaci&oacute;n</ion-label>
      <ion-input [(ngModel)]="evento.ubicacion"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>Todo el d&iacute;a</ion-label>
      <ion-toggle [(ngModel)]="evento.dia_completo" checked="false"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label >Fecha Inicio</ion-label>
      <ion-datetime displayFormat="DD MMM YYYY" [max]="evento.fecha_fin" [(ngModel)]="evento.fecha_inicio"></ion-datetime>
    </ion-item>

    <ion-item *ngIf="!evento.dia_completo">
      <ion-label >Hora Inicio</ion-label>
      <ion-datetime displayFormat="HH:mm" minuteValues="0,15,30,45" pickerFormat="HH:mm" [(ngModel)]="evento.fecha_inicio"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label >Fecha Fin</ion-label>
      <ion-datetime displayFormat="DD MMM YYYY" [min]="evento.fecha_inicio" [(ngModel)]="evento.fecha_fin"></ion-datetime>
    </ion-item>

    <ion-item *ngIf="!evento.dia_completo">
      <ion-label >Hora Fin</ion-label>
      <ion-datetime displayFormat="HH:mm" minuteValues="0,15,30,45" pickerFormat="HH:mm" [(ngModel)]="evento.fecha_fin"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label >Descripci&oacute;n</ion-label>
      <ion-textarea [(ngModel)]="evento.descripcion"></ion-textarea>
    </ion-item>

    <!--<div class="div_btn_action">
      <button ion-button (click)="guardar()" full round>Guardar</button>
    </div>-->

    <div id="div_eliminar" *ngIf="this.oper=='edit'"><a (click)="eliminar()"><u>Eliminar evento</u></a></div>
  </ion-list>



</ion-content>