// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.content {
    background: color($colors,back);
    color: color($colors,text);
}

p {
    text-indent: 0%;
}

.div_btn_action{
    padding-top: 8%;
    padding-bottom: 8%;
}

.img_calendar{
    height:40%;
    width:40%;
}

.menu-item {
    background: color($colors,back);
    color: #000000;
}

.title {
    background: color($colors,back);
    color: #000000;
}

.item-inner {
    border-bottom-color: #000000!important;
}


.item-ios[detail-push] .item-inner,
button.item-ios:not([detail-none]) .item-inner,
a.item-ios:not([detail-none]) .item-inner {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2012%2020'><path%20d='M2,20l-2-2l8-8L0,2l2-2l10,10L2,20z'%20fill='%23000000'/></svg>");
}

.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    border-bottom: 0.55px solid #000000!important;
}

.toolbar-background-md {
    border-color: #b2b2b2;
    background: color($colors,back);
  }

  /*.item-ios {
    padding-left: 16px;
    padding-left: 16px;
    border-radius: 0;
    position: relative;
    font-size: 1.7rem;
    color: #000;
    -webkit-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
  }
  
  .item-md {
    padding-left: 16px;
    padding-right: 0;
    position: relative;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: #000;
    background-color: color($colors,back);
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }*/

  .item-input .label-md,
  .item-select .label-md,
  .item-datetime .label-md {
    color: #000;
  }
  
  .list-ios > .item-block:first-child {
    border-top: 0.55px solid #000000;
  }

  .list-md .item-input:last-child {
    border-bottom: 1px solid #000000;
  }

.item-ios{
    background-color: color($colors,back-list);
  }

.item-md{
    background-color: color($colors,back-list);
}

ion-menu {
    .item-ios {
        background-color: color($colors,back);
      }
      
      .item-md {
        background-color: color($colors,back);
      }
}